/* Loading */
.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.loader {
  position: fixed;
  left: 50%;
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

img.spinner {
  position: fixed;
  left: 50%;
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}