.home {
  background-color: rgb(219, 217, 217);
  min-height: 100vh;

  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #333;

    &>.logo {
      color: #333;
    }
  }
}

.home .logo img {
  height: 100px;
  width: 80px;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:1vh;
}
.initiative h2{
  font-size: 4vh;
}
.t-b{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25vw;
}
.invent-text h4{
  font-weight:200;
  position: fixed;
  gap: -5px;
}
.nav-bar button{
  padding: 10px;
  border-radius: 30px;
  width: 6rem;
  height:4rem;
}
.logo-texts{
  letter-spacing: 1px;
  line-height: 2%;
}
.logo-texts h4{
  font-weight: 200;
  letter-spacing: 1px;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;

  & li a {
    color: #fff;
  }

  &>* {
    margin-left: 1rem;
    color: #333;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 50%;

  &>* {
    color: #333;
    margin-bottom: 2rem;
  }

  &>h2 span {
    display: block;
  }

  & .hero-buttons a {
    color: #333;
  }
}
.hero-text p{
  font-size: 3vh;
}
.hero-image {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .hero-image {
    display: none;
  }
}