.home {
  min-height: 100vh;
  overflow-x: none;
  width: 100vw;

  & nav {
    padding-bottom: 1.5rem;
    color: #333;

    &>.logo {
      color: #333;
    }
  }

  .container {
    margin: 0;
    padding: 0;
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.hero {
  width: 100vw;
}

.home .logo img {
  height: 100px;
  width: 80px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background: #ffffffce;
  margin: 0;
  padding: 0 50px;
}

.initiative h2 {
  font-size: 4vh;
}

.t-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25vw;
}

.invent-text h4 {
  font-weight: 200;
  position: fixed;
  gap: -5px;
}

.nav-bar button {
  padding: 10px 20px;
  border-radius: 30px;
}

.logo-texts {
  letter-spacing: 1px;
  line-height: 2%;
}

.logo-texts h4 {
  font-weight: 200;
  letter-spacing: 1px;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;

  & li a {
    color: #fff;
  }

  &>* {
    margin-left: 1rem;
    color: #333;
  }
}

.container.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.hero-text {
  width: 50%;
  background-color: #ffffffc3;
  padding: 20px;

  &>* {
    color: #333;
    margin-bottom: 2rem;
  }

  &>h2 span {
    display: block;
  }

  & .hero-buttons a {
    color: #333;
  }
}

.hero-text p {
  font-size: 3vh;
}

.hero-image {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .hero-image {
    display: none;
  }
}